.App{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU8g7BdWyI3h5HOPGYN8j4nWM_AXv-g_4lfA&s');
  background-size:contain;
}
#container{
width: 100vw;
height: 100vh;
position: absolute;
background-image: url('https://i.pinimg.com/originals/ab/58/cc/ab58cc75dcb2e42555cf7e614216350a.jpg');
}

.visible{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  padding: 0;

}

.close{
  display: none;
}

.cyp{
  display: flex;
  text-align: center;
  height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.cyp:hover{
  font-size:70px;
  color: red;
}
#choose{
  margin: 30px;

}
#choose li{
  list-style-type: none;
  height: 33vh;
  width: 100%;
  text-align: center;
  border: 5px solid;
  border-radius: 25px;
  border-color: green;
  font-size : 45px;
  margin: 2px;
}

li:hover{
  opacity: 0.7;
}

.charizard{
  background-image: url('https://wallpapers.com/images/featured/charizard-pokemon-pictures-z0uot60vcwes3pvk.jpg')
}

.pikachu{
  background-image: url('https://cdn.europosters.eu/image/1300/posters/pokemon-pikachu-neon-i71936.jpg')
}

.squirtle{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7c0a5c21-5e3f-4653-b5fb-8994c967f336/deps86k-13af9f28-9e3c-4c25-ac1c-3b8ff42894e6.png/v1/fill/w_931,h_858,q_70,strp/squirtle_by_majorstarlight_deps86k-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTE3OSIsInBhdGgiOiJcL2ZcLzdjMGE1YzIxLTVlM2YtNDY1My1iNWZiLTg5OTRjOTY3ZjMzNlwvZGVwczg2ay0xM2FmOWYyOC05ZTNjLTRjMjUtYWMxYy0zYjhmZjQyODk0ZTYucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.hPNB4NyAZZglPYJ2lX6vYV-GuDvIqweCeQnN5llZ1BE')
}
#battle{
  display:flex;
  flex-direction: row;
  width: 100%
}
#opp{
  width:100%;
}
#opp .hurt{
  position:absolute;
  height:85px;
}
.hurt1{
  top:140px;
  left:180px;
}
.hurt2{
  top:210px;
  left:115px;
}
.hurt3{
  top:230px;
  left:220px;
}
#me .pain{
  position:absolute;
  height: 85px;
}
.pain1{
  top:120px;
  right:170px;
}
.pain2{
  top: 170px;
  right: 230px;
}
.pain3{
  top: 200px;
  right: 150px;
}
#opp #opponent{
  border: 5px solid black;
  border-radius: 25px;
  margin-left:2px;
  margin-top: 5vh;
}
#me{width:100%}
#me #kra{
  border: 5px solid black;
  border-radius: 25px;
  margin-left:20vw;
  margin-top: 10vh;
}
#opponent{
  height: 400px;
  width: 100%;
}
#kra{
  height : 250px;
  width: 1005;
}
.smt{
  display:flex;
  flex-direction: column;
}
#turn div{
  font-size: 30px;
  text-align: center;
}
.prop{
  display: flex;
  flex-direction: row;
  margin: 2px;
}
.prop .ness{
  align-items: center;
  justify-content: center;
  overflow:hidden;
  width: 50%;
  border: black solid;
  border-radius: 25px;
}
.hpbarcontainer{
  position: relative;
}
.hpbarcontainer div{
  position: absolute;
  background-color: red;
}
.ab{
  position: relative;
}
.ab div{
  background-color: green;
}
.listcontainer{
  padding:0px;
}
.moveslist{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
  padding-left: 0px;
}
.moveslist li{
  list-style-type: none;
  font-size: 20px;
  border: black solid;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}
.tac{
  text-align:center;
  border-radius: 25px;
}
.none{display:none;}
.pink{
  background-color:pink;
}
.white{
  background-color:white;
}
